<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Fiche identité</h2>
<div id="formulaire" >
  <h2>Votre carte d'indentité</h2>
  <form *ngIf="user">
    <div class="row">
      <label for="name">Nom : </label>
      <input id="name" (input)="changeName(myName.value);" value="{{user.name}}" #myName/>
    </div>
    <div class="row">
      <label for="name">Job : </label>
      <input id="jobTitle" (input)="changeJobTitle(myJob.value);" value="{{user.jobTitle}}" #myJob/>
    </div>
    <div class="row">
      <label for="name">Photo : </label>
      <input id="photo" (input)="changePhoto(myPhoto.value);" value="{{user.photo}}" #myPhoto/>
    </div>
    <div class="row">
      <label for="name">Que faire ? </label>
      <input type="submit" (click)="stop($event)" id="save" value="Enregistrer" class="btn btn-primary"/>
    </div>
  </form>
</div>
<div id="card">
  <h2>Carte de visite</h2>
  <p>Nom : {{user.name}} </p>
  <p>Job : {{user.jobTitle}} </p>
  <p>
    Photos : <img src="{{user.photo}}" #myImg/>
  </p>
</div>



