<header>
<ul>
  <li>
    <mat-icon>home</mat-icon>Home
  </li>
</ul>
</header>
<main>
<p>
  <mat-checkbox  [(ngModel)]="checked">Connected ?</mat-checkbox>
  <mat-icon>{{checked?'verified_user':'lock'}}</mat-icon>
</p>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>
  
</main>
<footer>

</footer>