<header>
  <app-nav [checked]="checked"></app-nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<!--<main [ngSwitch]="page">
    <app-bio *ngSwitchCase="'bio'"></app-bio>
    <app-user *ngSwitchCase="'user'"></app-user>
    <app-useradd *ngSwitchCase="'useradd'"></app-useradd>
    <p *ngSwitchDefault>Homme is here !</p>
</main>-->
<footer>
  <mat-toolbar color="warning" fxLayout="row" fxLayoutAlign="center">  
    <ul>
      <li> <a routerLink="/mentions"><mat-icon>security</mat-icon><span>Mentions Légales</span></a></li>
      <li><a routerLink="/contact"><span><mat-icon>message</mat-icon>Contactez-nous</span></a></li>
  </ul>
  </mat-toolbar>
</footer>